.page {
  width: 780px;
  margin: auto;
  font-size: 16px;
  font-family: "Source sans Pro", Calibri, Tahoma, sans-serif;
}

/* HEADER */
.infophoto {
  height: 250px;
}
.info {
  float: left;
}
.photo {
  float: right;
  max-width: 150px;
}
.photo img {
  width: 100%;
}

/* SECTION */
.section {
  margin-bottom: 70px;
  text-align: justify;
}
.sec-gauche {
  float: left;
  font-weight: bold;
  font-size: 20px;
}
.sec-droite {
  margin-left: 150px;
}
.titre {
  font-weight: bold;
  font-size: 20px;
}
strong {
  font-size: 26px;
}
h2 {
  font-size: 28px;
  color: #3388bb;
  text-transform: uppercase;
  border-bottom: 3px solid #3388;
}

#espacement {
  margin-top: 28px;
}
#espacementLangues {
  margin-top: 45px;
}
